body {
    margin: 0;
}

.grid {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.content {
    display: grid;
    place-items: center;
}

.grid > .footer {
  padding: 10px 20px;
}

-grid > .footer > .button {
  display: block; 
  margin-bottom: 10px;
  width: auto;
}
