.grid {
    display: grid;
    grid-template-rows: 100px auto auto 100px;
    grid-template-columns: repeat(10, 10%);
}

.grid > .header {
    display: flex;
    align-items: center;
    grid-column: 1 / 11;
    grid-row: 1 / 2;
    text-align: right;
    border-bottom: 2px solid #17689F;
}

.grid > .nav_bar {
    grid-column: 1 / 11;
    grid-row: 2 / 3;
}

.grid > .content {
    grid-column: 1 / 11;
    grid-row: 3 / 10;
    text-align: left;
    border: 10px solid lightgrey;
}

.grid > .footer {
    grid-column: 1 / 11;
    grid-row: 10 / 11;
}

.no_bs_logo {
    align-items: center;
    text-align: left;
    white-space: nowrap;
    margin-left: 0.5%;
	display: flex;
}

#title {
    align-items: center;
    color: black;
	margin-top: 3%;
    margin-left: 3%;
}

.header > .login {
    align-items: center;
    justify-content: flex-end;
    margin-right: 0.5%;
}
